*{box-sizing: border-box;}

html, body{
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root{
  height: 100%;
}

.page{
  height: 100%;
}

a{
  text-decoration: none;
  color: unset;
}

.form-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 5px;

  h1{
    margin-bottom: 10px;
  }
  
  .errore{
    color: red;
    margin: 0;
  }
}